@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-shadow {
  text-shadow: 4px 4px 5px rgb(13, 141, 245);
}

.form {
  display: grid;
  grid-template-columns: 30% 50%;
  padding: 100px;
}

.input {
  height: 3rem;
}
